.column-full {
  width: 100%;
}

.column-one-fourth {
  width: calc(100% / 4);
  padding-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  width: 50%;
}

img {
  width: 100%;
}

button {
  text-align: right;
}

input {
  color: white;
  background-color: lightgray;
}

p {
  color: black;
}
