header {
  width: 100%;
}

.navbar {
  background-color: rgb(8, 148, 199);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-between;
  padding-right: 1300px;
  list-style-type: none;
}

li {
  color: black;
}
